*{
    margin:0;
    margin-bottom:20px;
    padding:0; 
    box-sizing: border-box;
}

@font-face {
    font-family:headerFont;
    src: url(fonts/Esseltub\ Regular.otf);
}
@font-face {
    font-family: lcdfont;
    src: url(fonts/LcdPhone-wgZ2.ttf) format('truetype');
}

body{
    display:inline;
    color:cornsilk;
    background: linear-gradient(rgb(8, 93, 87) 25%, black 75%);
    text-align:center;
    font-size: 25px;
    font-family: headerFont;
   
}
body div{
    text-align: center;
}

img{
    display:inline;
    min-height:500px;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
    right:0;
    left:0; 
    z-index: -1;   
    overflow:hidden;
    
}

.header h1{
    padding:30px;
    padding-bottom:0;
}
.header input{
    border-radius: 20px;
    height:40px;
    padding:10px;
    font-size: 15px;
    text-align: left;
    border:none;
    background-color: cornsilk;
    
}

.header form input{
    visibility: hidden;
}


.header label:before{
    width:40px;
    height:50px;
    background-repeat: no-repeat;
    display:inline-block;
    content:"";
    background-size: 100%;
    position:relative;
    top:15px;
}

#metroLabel:before{
    background-image: url(icons/metro.png);
}
#tramLabel:before{
    background-image: url(icons/tram.png);
}
#busLabel::before{
    background-image: url(icons/bus.png);
}
.ovals{
    box-shadow: 1px 1px 1px 2px black;
}

form{
    display: inline-block;
    width:100%;
   
}
form input{
    background-color:red ;
    width: 20px;
    margin:0;
    padding:0;
    border:none;

}


.header button{
    margin-top:10px;
    display: inline-block;  
    background-color: rgb(13, 52, 66);
    height:60px;
    width: 200px;
    border-radius: 20px;
    color:lightblue;
    font-size: 20px;
    border:none;
    box-shadow: 1px 1px 1px 2px black;
}
.header button:hover{
    background-color: rgb(27, 61, 73);
}


#grid-area{
    display:grid;
    min-height:700px;
    margin-bottom: 0;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:0;
    grid-gap:10px;
    padding:10px;
    font-size: 25px;
    font-family: lcdfont;
    position:relative; padding-top:50px;
    background-color: black;
    color:yellow;
    margin-bottom:0;
   
    
}

#gridheader{
    
    position: relative;
    display:block;
    height:120px;
    font-family: headerFont;
    font-size: 35px;
    margin-bottom:0;
    text-align:left;
    background-color: rgb(10, 10, 96);
    color:yellow;
    padding:30px;
    
    
}

.transportHeader{
    grid-column-end: span 3;
    color: darkorange;
}

.lineNumber{
    grid-column:1;
}

.lineName{
    grid-column:2;
}

.minutesToGo{
    grid-column:3;
}

