*{
    margin:0;
    margin-bottom:20px;
    padding:0; 
    box-sizing: border-box;
}

@font-face {
    font-family:headerFont;
    src: url(fonts/Esseltub\ Regular.otf);
}
@font-face {
    font-family: lcdfont;
    src: url(fonts/LcdPhone-wgZ2.ttf) format('truetype');
}

body{
    display:inline;
    color:cornsilk;
    background-color: rgb(48, 86, 83);
    text-align:center;
    font-size: 25px;
    font-family: headerFont;
    
}
body div{
    text-align: center;
}

img{
    display:inline;
    min-height:600px;
    max-height: 800px;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
    right:0;
    left:0; 
    z-index: -1;   
    overflow:hidden;
    
}

.header{
    min-height: 400px;
}

.h1container{
    max-width:200px;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
   
}

.header h1{
    padding:30px;
    padding-bottom:0px;
    margin-bottom: 0px;
   
}

.h1container:hover{
    text-shadow: 2px 2px 4px darkorange, -2px -2px 2px darkorange;
}

.header p {
    margin-top:10px;
    margin-bottom:10px;

}

.header input{
    border-radius: 20px;
    height:35px;
    max-width: 200px;
    box-shadow: 3px 3px 3px 3px rgba(22, 22, 23, 0.802);
    padding:20px 5px;
    font-size: 20px;
    text-align: center;
    border:none;
    background-color: cornsilk;
    margin:5px 50px;
    margin-bottom:70px;
    font-family: 'Times New Roman', Times, serif;
}

.header label:after{
    width:60px;
    height:60px;
    background-repeat: no-repeat;
    display:inline-block;
    content:"";
    background-size: 100%;
    position:relative;
    top:8px;
    right:0px;
    z-index: -1;
    
}

#metroLabel:after{
    background-image: url(icons/metro.png);
}
#tramLabel:after{
    background-image: url(icons/tram.png);
}
#busLabel:after{
    background-image: url(icons/bus.png);
}


form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    margin-top:5px;
    align-items: center;
}
fieldset{
   
    flex:1 1 50%;
    border:none;
    max-width: 200px;
    padding:10px;
   
}

form label{
    min-width:30px;
    font-size: 25px;
    
}

form input{
    
    width: 20px;
    border:none;
    display:none;
}

#grid-area{
    display:grid;
    
    margin-bottom: 0;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:0;
    grid-gap:10px;
    padding:10px;
    font-size: 22px;
    font-family: lcdfont;
    position:relative; padding-top:50px;
    background-color: black;
    color:yellow;
    margin-bottom:0;
   
    
}

#gridheader{
    
    position: relative;
    display:block;
    height:90px;
    font-family: headerFont;
    font-size: 25px;
    margin-bottom:0;
    text-align:left;
    background-color: rgb(10, 10, 96);
    color:yellow;
    padding:20px;
}



.transportHeader{
    grid-column-end: span 3;
    color: darkorange;
}

.lineNumber{
    grid-column:1;
}

.lineName{
    grid-column:2;
}

.minutesToGo{
    grid-column:3;
}

.footer{
    background-color: black;
    height:280px;
    color:darkorange;
}
.footer p {
    padding:0px 90px;
}